.hrStudentProfileView_button{
    background-color: red;
    height: 30px;
    min-width: 67px;
    margin-right: 25px;
}

.hrStudentProfileView_subtitle {
    font-size: 20px;
    color: #f7f7f7;
    background-color: #292A2B;
    line-height: 60px;
    min-height: 60px;
    padding: 0 26px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.hrStudentProfileView_line {
    margin-bottom: 12px;
    background-color: #222324;
}


.hrStudentProfileView_gradesContent {
    min-height: 110px;
    color: #88888d;
}

.sidebarBox {
    min-width: 250px;
    max-width: 250px;
    margin-right: 4px;
}


