.menu-btn {
    font-size: 1.1rem;
    width: 220px;
    line-height: 40px;
    background: #1e1e1f;
    border: 0;
    color: #F7F7F7;
    display: block;
    margin-left: 0;
    padding: 0 0 0 15px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.menu-btn:hover {
    background: #e02735;
}
