.home-admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: #222224;
    width: 100vw;
}

.home-admin_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-admin_img {
    width: 124px;
    height: 76px;
    margin: 10px;
}

.home-admin_logout {
    margin: 30px;
}
