.return_btn{
    height: 30px;
    width: 67px;
    background-color: #222224;
    border-radius: 0;
    border: 0;
    display: flex;
    cursor: pointer;
}

.return_btn:hover{
    background-color: #e02735;
    border-radius: 2px;
}

.return_btn_text {
    height: 30px;
    width: 37px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    padding-top: 3px;
    display: flex;
    color: #F7F7F7;
}

.return_btn_icon{
    height: 30px;
    width: 30px;
    color: #666666;
    text-align: right;
    margin-left: 3px;
    padding-top: 3px;
}