.btn {
    font-size: 1.1rem;
    width: 100px;
    line-height: 40px;
    background: #e02735;
    border: 0;
    color: #F7F7F7;
    display: block;
    margin-left: 0;
    padding: 0 0 0 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    /*opacity: 1;*/
}

.btn:hover {
    background: #811821;
}
