.student-import_header {
    margin-top: 10px;
    color: #F7F7F7;
}

.student-import_headerTitle {
    margin: 10px auto 5px auto;
}

.student-import_main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B3E3FFF;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(229, 229, 237, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(229, 229, 237, 1);
    box-shadow: 0px 0px 5px 0px rgba(229, 229, 237, 1);
}

.student-import_fileNameBox {
    color: #88888d;
    margin: 0 60px 0 20px;
}

