.remPass-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: #222224;
    width: 100vw;
}

.remPass-input {
    margin: 10px;
    width: 350px;
    height: 40px;
    background: #292a2b;
    color: #7E7E7E;
    border: 2px solid #4a5568;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
}

.remPass-input:focus {
    border-color: #F7F7F7;
}

.remPass-input-error {
    border-color: #d03737;
}

.remPass-info {
    color: #7E7E7E;
    margin: 15px;
    font-size: 16px;
}

.remPass-errors {
    color: #d03737;
}

.remPass-success {
    color: #217721;
}

.remPass-btn-box {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.remPass-btn {
    font-size: 1.1rem;
    width: 130px;
    line-height: 40px;
    background: #e02735;
    border: 0;
    color: #F7F7F7;
    display: block;
    transition: 0.3s;
    opacity: 0.7;
}

.remPass-btn:hover {
    background: #e02735;
    cursor: pointer;
    color: #F7F7F7;
    opacity: 1;
}