.hr-home-single-student {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292a2b;
  color: #fff;
  width: 1390px;
  height: 70px;
  font-size: 18px;
  padding: 20px 20px;
}

.hr-home-single-student-right {
  display: flex;
  align-items: center;
}

.hr-home-single-student-right svg {
  transition: transform 0.3s ease-out;
}

.hr-home-single-student-right button {
  margin: 0 20px;
}

.hr-home-single-student__icon--down {
  transform: rotate(180deg);
}

.hr-home-single-student__icon-up {
  transform: rotate(0deg);
}
