* {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  background: #222224;
}

.mainBackground {
  background: #222224;
  max-width: 100vw;
  min-height: 100vh;
}

.displayCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageWithHeader {
  padding-top: 80px;
}

.noUnderline {
  text-decoration: none;
}
