.hr-home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222224;
    color: #F7F7F7;
}
.hr-home__main {
    display: flex;
    flex-direction: column;
    width: 1430px ;
    margin-top: 100px;
}
.hr-home__navbar {
    height: 72px;
    background-color: #292A2B;
    margin-bottom: 5px;
    text-align: center;
}

.hr-home__searching-students {
    background-color: #292A2B;
    text-align: center;
}

.hr-home__search {
    height: 60px;
    background-color: #292A2B;
    margin: 0 5px 10px;
    border-bottom: 10px solid #222224;
}

.hr-home__students-list {
    min-height: 70vh;
    background-color: #292A2B;
}
